<% provide(:title, @user.nick) %>
<h1>
  <%= @user.nick %>
</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag(gravatar_url(@user), alt: @user.nick, class: "gravatar") %>
      <div><b>Nick:</b> <%= @user.nick %></div>
      <div><b>eMail:</b> <%= @user.mail %></div>
    </section>
